@using RestaurantMenu.BLL.DTO
@using Restaurant_menu.Model;
@model CreateViewModel
@{

    bool isEdit = Model.IsEdit;
    var uri = isEdit ? Url.Action("Edit", "Logic") : Url.Action("Create", "Logic");
    ViewData["Title"] = "Create";

}
<!DOCTYPE html>
<html>
<head>
    <title>Создание</title>

    <!--Main Style-->
    <link href="~/CreateStyle.css" rel="stylesheet" />

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Jquery-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


</head>
<body>

    <!--Load Animation-->
    <div class="dvProgress" style="display:flex; justify-content:center; align-items:center">
        <img src="https://media.giphy.com/media/feN0YJbVs0fwA/giphy.gif" />
    </div>
    <script>
        $(document).ready(function () {
            $(".dvProgress").hide();
        })
    </script>
    <!------------------->

    <a href="/" class="material-icons">
        keyboard_arrow_left
    </a>
    <h2 id="mainh">
        @if (isEdit)
        {

            @:Редактирование блюда

        }
        else
        {

            @:Создание блюда

        }
    </h2>

    <form id="mainform" method="post" class="input-group" action="@uri">


        <input type="hidden" class="form-control" name="Id" @if (isEdit) { @: value="@Model.Dish.Id"
               }>
        @if (isEdit)
        {
            <p>Дата создания:</p>
            @Html.DisplayFor(x => x.Dish.CreateDate) <br />
            @Html.ValidationMessageFor(x => x.Dish.CreateDate)
        }
        else
        {
            <input type="hidden" name="CreateDate" value=""/>
        }

        @Html.ValidationSummary(true)
        <p>Название:</p>
        @Html.TextBoxFor(x => x.Dish.Name) <br />
        @Html.ValidationMessageFor(x => x.Dish.Name)

        <p>Состав:</p>
        @Html.TextBoxFor(x => x.Dish.Consist) <br />
        @Html.ValidationMessageFor(x => x.Dish.Consist)

        <p>Описание:</p>
        @Html.TextBoxFor(x => x.Dish.Description) <br />
        @Html.ValidationMessageFor(x => x.Dish.Description)

        <p>Цена:</p>
        @Html.TextBoxFor(x => x.Dish.Price) <br />
        @Html.ValidationMessageFor(x => x.Dish.Price)

        <p>Граммовка:</p>
        @Html.TextBoxFor(x => x.Dish.Gram) <br />
        @Html.ValidationMessageFor(x => x.Dish.Gram)

        <p>Калорийность блюда:</p>
        @Html.TextBoxFor(x => x.Dish.Calorific) <br />
        @Html.ValidationMessageFor(x => x.Dish.Calorific)

        <p>Время Приготовления:</p>
        @Html.TextBoxFor(x => x.Dish.CookTime) <br />
        @Html.ValidationMessageFor(x => x.Dish.CookTime)

        <br />

        <button type="submit" id="Create">
            @if (isEdit)
            {

                @:Изменить

            }
            else
            {

                @:Создать
            }
        </button>
    </form>
</body>
</html>

