@using RestaurantMenu.BLL.DTO
@model Dish
@{

    bool isEdit = Model.Id == -1 ? false : true;
    var uri = isEdit ? Url.Action("Edit", "Logic") : Url.Action("Create", "Logic");
    ViewData["Title"] = "Create";

}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/CreateStyle.css" rel="stylesheet" />
    <title>Создание</title>
</head>
<body>
    <a href="/" class="material-icons">
        keyboard_arrow_left
    </a>
    <h2 id="mainh">
        @if (isEdit){
            
            @:Редактирование блюда

        } else{
            
            @:Создание блюда

        } 
    </h2>

    <form method="post" class="input-group" action="@uri ">


        <input type="hidden" class="form-control" name="id" @if (isEdit) { @: value="@Model.Id"
               }>
        @if (isEdit)
        {
            <p>Дата создания:</p>
            <label class="form-control">@Model.CreateDate</label>
        }


        <p>Название:</p>
        <input type="text" class="form-control" name="name" @if (isEdit) { @: value="@Model.Name"
               }>

        <p>Состав:</p>
        <input type="text" class="form-control" name="consist" @if (isEdit) { @: value="@Model.Consist"
               }>

        <p>Описание:</p>
        <input type="text" class="form-control" name="description" @if (isEdit) { @: value="@Model.Description"
               }>

        <p>Цена:</p>
        <input type="text" class="form-control" name="price" @if (isEdit) { @: value="@Model.Price"
               }>

        <p>Граммовка:</p>
        <input type="text" class="form-control" name="gram" @if (isEdit) { @: value="@Model.Gram" }
               }>

        <p>Калорийность блюда:</p>
        <input type="text" class="form-control" name="calorie" @if (isEdit) { @: value="@Model.Calorific"
               }>

        <p>Время Приготовления:</p>

        <input type="text" class="form-control" name="cookTime" @if (isEdit) { @: value="@Model.CookTime"
               }>

        <br />

        <button type="submit" id="Create">
            @if (isEdit){

                @:Изменить

            } else{

                @:Создать
            }
        </button>
    </form>

</body>
</html>

