@using RestaurantMenu.BLL.DTO
@model Dish
@{

    bool isEdit = Model.Id == -1 ? false : true;
    var uri = isEdit ? Url.Action("Edit", "Logic") : Url.Action("Create", "Logic");
    ViewData["Title"] = "Create";

}
<!DOCTYPE html>
<html>
<head>
    <title>Создание</title>

    <!--Main Style-->
    <link href="~/CreateStyle.css" rel="stylesheet" />

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Jquery-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


</head>
<body>
    <a href="/" class="material-icons">
        keyboard_arrow_left
    </a>
    <h2 id="mainh">
        @if (isEdit){
            
            @:Редактирование блюда

        } else{
            
            @:Создание блюда

        } 
    </h2>

    <form id="mainform" method="post" class="input-group" action="@uri ">


        <input type="hidden" class="form-control" name="id" @if (isEdit) { @: value="@Model.Id"
               }>
        @if (isEdit)
        {
            <p>Дата создания:</p>
            @Html.DisplayFor(x => x.CreateDate) <br />
            @Html.ValidationMessageFor(x => x.CreateDate)
        }

        @Html.ValidationSummary(true)
        <p>Название:</p>
        @Html.EditorFor(x => x.Name) <br />
        @Html.ValidationMessageFor(x => x.Name)

        <p>Состав:</p>
        @Html.EditorFor(x => x.Consist) <br />
        @Html.ValidationMessageFor(x => x.Consist)

        <p>Описание:</p>
        @Html.EditorFor(x => x.Description) <br />
        @Html.ValidationMessageFor(x => x.Description)

        <p>Цена:</p>
        @Html.EditorFor(x => x.Price) <br />
        @Html.ValidationMessageFor(x => x.Price)

        <p>Граммовка:</p>
        @Html.EditorFor(x => x.Gram) <br />
        @Html.ValidationMessageFor(x => x.Gram)

        <p>Калорийность блюда:</p>
        @Html.TextBoxFor(x => x.Calorific) <br />
        @Html.ValidationMessageFor(x => x.Calorific)

        <p>Время Приготовления:</p>
        @Html.EditorFor(x => x.CookTime) <br />
        @Html.ValidationMessageFor(x => x.CookTime)

        <br />

        <button type="submit" id="Create">
            @if (isEdit)
            {

                @:Изменить

            }
            else
            {

                @:Создать
            }
        </button>
    </form>
</body>
</html>

