@using RestaurantMenu.BLL.DTO
@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Menu</title>

    <!--Main Style-->
    <link rel="stylesheet" href="StyleSheet.css" />

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--Jquery-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <header>
        <h2 style="text-align: center">Меню ресторана</h2>
        <form id="btnCreate" action="/Create"><button class="button create" type="submit">Создать</button></form>
    </header>




    <div class="mainData">
        @{
            int filtred = 0;
        }
        @using (Html.BeginForm("Filtration", "Filter"))
        {
            <table id="dishes">
                <thead>
                    <tr>
                        <th style="width: 23px">Название</th>
                        <th>Дата создания</th>
                        <th>Состав</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th>Граммовка</th>
                        <th>Калорийность</th>
                        <th>Время <br />Приготовления</th>

                        <th colspan="3"><button class="material-icons" id="search">search</button></th>
                    </tr>
                </thead>

                <tr id="SearchFields">

                    <th><input type="text" class="searchField" name="name" /></th>
                    <th><input type="text" class="searchField" name="createDate" /></th>
                    <th><input type="text" class="searchField" name="consistence" /></th>
                    <th><input type="text" class="searchField" name="description" style="width: 56px" /></th>
                    <th><input type="text" class="searchField" name="price" style="width: 56px" /></th>
                    <th><input type="text" class="searchField" name="gram" style="width: 56px" /></th>
                    <th><input type="text" class="searchField" name="calorific" /></th>
                    <th><input type="text" class="searchField" name="cookTime" /></th>
                    <th colspan="3"></th>
                </tr>

                <tbody>

                    @foreach (var dish in Model)
                    {

                        <tr id="@dish.Id" >
                            
                            <td class="dishesItem" style="width: 23px">@dish.Name</td>
                            <td class="dishesItem"> @dish.CreateDate</td>
                            <td class="dishesItem"> @dish.Consist</td>
                            <td class="dishesItem"> @dish.Description</td>
                            <td class="dishesItem"> @dish.Price</td>
                            <td class="dishesItem"> @dish.Gram</td>
                            <td class="dishesItem"> @dish.Calorific</td>
                            <td class="dishesItem"> @dish.CookTime</td>

                            <td class="action" style="padding: 7px;"><a href="@Url.Action("Read")?id=@dish.Id" class="material-icons">remove_red_eye</a></td>
                            <td class="action" style="padding: 7px;"><a href="@Url.Action("Edit")?id=@dish.Id" class="material-icons">create</a></td>
                            <td class="del" style="padding: 7px;"><a name="@dish.Id" class="material-icons">clear</a></td>

                        </tr>
                    }

                </tbody>
            </table>
        }

        <!--Function for delete items-->
        <script>

            $('.del').each(function () {
                var id = $(this).children('a').attr('name');

                 $(this).children('a').click(
                    function () {
                         $(this).parent('.del').parent('tr').hide();
                         $.post("@Url.Action("Delete", "Logic")?id=" + id, null, function(result) { $('#Filtred').text(result);  $('#AllItemsCount').text(result);});
                    });
            });

            $('#SearchFields').children('th').children('input').each(function () {
                $(this).keyup(function (e) {
                    console.log($(this).attr('name') + ': ' + $(this).val());
                    var name = $(this).attr('name');
                    var value = $(this).val();
                    var resultlist;
                    $.post("@Url.Action("Filtration", "Filter")?name=" + name + "&filter=" + value, null,Sort)
                    function Sort(result) {
                        resultlist = result.slice(0);
                        console.log(result);
                        console.log(resultlist);

                        $('tbody').children('tr').each(function () {
                            var matched = false;
                            for (var i = 0; i < result.length; i++) {
                                if ($(this).attr('id') == result[i]){
                                    matched = true;
                                    console.log(matched);
                                }
                            }
                            if (matched == false) {
                                $(this).hide();
                            } else {

                                $(this).show();
                            }

                            
                        })
                    }
                });
            });
        </script>
        <script src="/js/site.js"></script>
    </div>

    <p id="itemsCount"><label id="Filtred">@Model.Count()</label> из <label id="AllItemsCount">@Model.Count()</label></p>

    <ul class="pagination">
        @for (int i = 1; i <= Math.Round((double)23 / 20, MidpointRounding.ToPositiveInfinity); i++)
        {
            <li><a href="">@i</a></li>
        }
    </ul>

</body>
</html>


