@using Restaurant_menu.Controllers;
@using Restaurant_menu.Pagination;
@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>

    <title>Restaurant Menu</title>

    <!--Main Style-->
    <link rel="stylesheet" href="StyleSheet.css" />

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />

    <!--Jquery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <header>
        <h2 style="text-align: center">Меню ресторана</h2>
        <form id="btnCreate" action="/Create"><button class="button create" type="submit">Создать</button></form>
    </header>

    <!--Load Animation-->
    <div class="dvProgress" style="display:flex; justify-content:center; align-items:center">
        <img src="https://media.giphy.com/media/feN0YJbVs0fwA/giphy.gif" />
    </div>
    <script>
        $(document).ready(function () {
            $(".dvProgress").hide();
        })
    </script>
    <!------------------->

    <div class="mainData">
        @using (Html.BeginForm("Filtration", "Filter"))
        {
            <table id="dishes">
                <thead>
                    <tr>
                        <th id="@FieldTypes.Name" class="tableHeader" style="width: 23px">Название</th>
                        <th id="@FieldTypes.CreateDate" class="tableHeader">Дата создания</th>
                        <th id="@FieldTypes.Consistence" class="tableHeader">Состав</th>
                        <th id="@FieldTypes.Description" class="tableHeader">Описание</th>
                        <th id="@FieldTypes.Price" class="tableHeader">Цена</th>
                        <th id="@FieldTypes.Gram" class="tableHeader">Граммовка</th>
                        <th id="@FieldTypes.Calorific" class="tableHeader">Калорийность</th>
                        <th id="@FieldTypes.CookTime" class="tableHeader">Время Приготовления</th>

                        <th colspan="3"><button class="material-icons" id="search">search</button></th>
                    </tr>
                </thead>

                <tr id="SearchFields">

                    <th><input type="text" class="searchField" name="@FieldTypes.Name" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.CreateDate" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.Consistence" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.Description" style="width: 56px" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.Price" style="width: 56px" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.Gram" style="width: 56px" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.Calorific" /></th>
                    <th><input type="text" class="searchField" name="@FieldTypes.CookTime" /></th>
                    <th colspan="3"></th>
                </tr>

                <tbody>

                    @foreach (var dish in Model.Dishes)
                    {
                        var ts = TimeSpan.FromMinutes(dish.CookTime);

                        var cookTime = ts.Hours == 0 ? ts.ToString("%m") : ts.ToString("h' ч. 'mm");
                        cookTime = cookTime + " мин.";

                        var calorific = Tools.CalculateCalorific(dish.Calorific, dish.Gram);
                        <tr id="@dish.Id">

                            <td class="dishesItem" style="width: 23px">@dish.Name</td>
                            <td class="dishesItem"> @dish.CreateDate</td>
                            <td class="dishesItem"> @dish.Consist</td>
                            <td class="dishesItem"> @dish.Description</td>
                            <td class="dishesItem"> @dish.Price</td>
                            <td class="dishesItem"> @dish.Gram</td>
                            <td class="dishesItem"> @calorific</td>
                            <td style="white-space:nowrap;" class="dishesItem"> @cookTime</td>

                            <td class="action" style="padding: 7px;"><a href="@Url.Action("Read")?id=@dish.Id" class="material-icons">remove_red_eye</a></td>
                            <td class="action" style="padding: 7px;"><a href="@Url.Action("Edit")?id=@dish.Id" class="material-icons">create</a></td>
                            <td class="del" style="padding: 7px;"><a name="@dish.Id" class="material-icons">clear</a></td>

                        </tr>
                    }

                </tbody>
            </table>
        }
        <script>
            /*Delete items*/
            $('.del').each(function () {
                var id = $(this).children('a').attr('name');

                 $(this).children('a').click(
                    function () {
                         $(this).parent('.del').parent('tr').hide();
                         $.post("@Url.Action("Delete", "Logic")?id=" + id, null, function(result) { $('#Filtred').text(result);  $('#AllItemsCount').text(result);});
                    });
            });
          

            /*Sorting*/
            $('.tableHeader').each(function () {
                $(this).css('cursor', 'pointer');
                $(this).click(function () {
                    var name = $(this).attr('id');
                    console.log("SORT\n " + name);
                        $.post("@Url.Action("Sorting", "Filter")?name=" + name, null, Sort)
                })
            })
            function Sort(result) {
                var list = $('tbody > tr').get();
                for (var i = 0; i < result.length; i++) {
                    var item = list.find(x => x.getAttribute('id') == result[i]);
                    if (item != undefined) {
                        list.find(x => x.getAttribute('id') == result[i]).parentNode.appendChild(list.find(x => x.getAttribute('id') == result[i]));
                        console.log(item);
                    }
                }
            }
        </script>
        <script src="/js/site.js"></script>
    </div>

    <p id="itemsCount"><label id="Filtred">@Model.Dishes.Count()</label> из <label id="AllItemsCount">@Model.ItemsCount</label></p>

    <ul class="pagination">

        @if (Model.PageViewModel.HasPreviousPage)
        {
            int value = Model.PageViewModel.PageNumber - 1;
            <li><a class="material-icons" href="@Url.Action("Index", "Main")?page=@value">arrow_back_ios</a></li>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            int value = Model.PageViewModel.PageNumber + 1;
            <li><a class="material-icons" href="@Url.Action("Index", "Main")?page=@value">arrow_forward_ios</a></li>
        }
    </ul>

</body>
</html>


