@using RestaurantMenu.BLL.DTO
@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Menu</title>

    <!--Main Style-->
    <link rel="stylesheet" href="StyleSheet.css" />

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!--Main JS-->

</head>
<body>
    <header>
        <h2 style="text-align: center">Меню ресторана</h2>
        <form id="btnCreate" action="/Create"><button class="button create" type="submit">Создать</button></form>
    </header>
  

    <div class="mainData">

        <table id="dishes">
            <thead>
                <tr>
                    <th style="width: 23px">Название</th>
                    <th>Дата создания</th>
                    <th>Состав</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Граммовка</th>
                    <th>Калорийность</th>
                    <th>Время <br />Приготовления</th>

                    <th colspan="3"><button class="material-icons" id="search">search</button></th>
                </tr>
            </thead>
            <tr id="SearchFields">
                <th style="width: 23px"><input type="search" /></th>
                <th><input type="search" /></th>
                <th><input type="search" /></th>
                <th><input type="search" /></th>
                <th><input type="search" style="width: 56px" /></th>
                <th><input type="search" style="width: 56px" /></th>
                <th><input type="search" style="width: 56px" /></th>
                <th><input type="search" style="width: 56px" /></th>
                <th colspan="3"></th>
            </tr>
            <tbody>
                @{
                    int filtred = 0;
                }
                @foreach (var dish in Model)
                {
                    filtred++;

                    <tr>
                        <td style="width: 23px">@dish.Name</td>
                        <td>@dish.CreateDate</td>
                        <td>@dish.Consist</td>
                        <td>@dish.Description</td>
                        <td>@dish.Price</td>
                        <td>@dish.Gram</td>
                        <td>@dish.Calorific</td>
                        <td>@dish.CookTime</td>

                        <td id="action" style="padding: 7px;"><a href="@Url.Action("Read")?id=@dish.Id" class="material-icons">remove_red_eye</a></td>
                        <td id="action" style="padding: 7px;"><a href="@Url.Action("Edit")?id=@dish.Id" class="material-icons">create</a></td>
                        <td id="action" style="padding: 7px;"><a href="@Url.Action("Delete", "Logic")?id=@dish.Id" class="material-icons">clear</a></td>

                    </tr>
                }

            </tbody>
        </table>

        <script>
            function Filtration(inputType) {
                var input, items, filter;
                input = document.getElementById('inputType');
                filter = input.value;

        </script>
        <script src="/js/site.js"></script>
    </div>

        <p id="itemsCount">@filtred записей из @Model.Count()</p>

        <ul class="pagination">
            @for (int i = 1; i <= Math.Round((double)23 / 20, MidpointRounding.ToPositiveInfinity); i++)
            {
                <li><a href="">@i</a></li>
            }
        </ul>

</body>
</html>


