@using RestaurantMenu.BLL.DTO;
@model Dish
@{
    ViewData["Title"] = "Read";
}

<html>
<head>
    <title>Info</title>

    <!--Main Style-->
    <link href="~/ReadStyle.css" rel="stylesheet" />

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Roboto Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <a href="/" class="material-icons"> keyboard_arrow_left</a>

    <div class="information">
        @{
            var ts = TimeSpan.FromMinutes(Model.CookTime);

            var cookTime = ts.Hours == 0 ? ts.ToString("%m") : ts.ToString("h' ч. 'mm");
            cookTime = cookTime + " мин.";
        }
        <p id="dateh">Дата создания:</p>
        <p id="date">@Model.CreateDate</p>

        <h3 id="Name">@Model.Name</h3>

        <div class="fields">
            <p class="field">Состав:</p>
            <p class="info"> @Model.Consist</p>

            <p class="field">Описание:</p>
            <p class="info"> @Model.Description</p>

            <p class="field">Цена:</p>
            <p class="info"> @Model.Price</p>

            <p class="field">Граммовка:</p>
            <p class="info"> @Model.Gram</p>

            <p class="field">Калорийность блюда:</p>
            <p class="info"> @Model.Calorific</p>

            <p class="field">Время Приготовления:</p>
            <p class="info"> @cookTime</p>

        </div>
    </div>
</body>
</html>

